<?xml version="1.0"?>
<launch>

    <node name="rectangle_detector" pkg="rectangle_detector" type="rectangle_detector_node"  output="screen">

        <param name="image_topic" value="/rgb" />
        <param name="intersections_detector_mode" value="false" />

        <param name="elongation_factor" value="1.1" />
        <param name="rects_min_area_factor" value="0.0005" />
        <param name="rects_max_area_factor" value="0.8" />
        <param name="nms_threshold" value="4" />
        <param name="lineImg_drawing_width" value="1" />
        <param name="rectImg_drawing_width" value="1" />
        <param name="compactness_threshold" value="0.4" />
        <param name="length_diff_threshold" value="0.3" />
        <param name="whiteness_threshold" value="0.4" />
        <param name="angle_threshold" value="0.5" />

        <param name="draw_intersections" value="true" />
        <param name="draw_graph" value="true" />
        <param name="draw_trapezoids" value="true" />
        <remap from="/rectangle_detector/detections" to="/detected_markers"/>


    </node>
        
    <!-- <node pkg="image_publisher" type="image_publisher" name="image_publisher" args="/home/neathle/Desktop/German/marker_rviz.png" >

        <param name="flip_horizontal" value="false" />
        <param name="flip_vertical" value="false" />
        <param name="frame_id" value="my_camera" />
        <param name="publish_rate" value="1" />
        <param name="camera_info_url" value="file://$(find rectangle_detector)/config/rgb.yaml" />  

    </node> -->

</launch>
