<?xml version="1.0"?>
<launch>

    <!-- 0. Set simulation time to synchronize bag files and node data-->
	<param name="/use_sim_time" type="bool" value="false"/>

    <!-- 1. AMCL Hybrid -->
    <include file="$(find amcl_hybrid)/launch/amcl_hybrid.launch" />

    <!-- 3. Launch Map -->
    <arg name="map_file" default="map_mocap.yaml" />
    <arg name="map_path" default="$(find amcl_hybrid)/../../../maps/" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)$(arg map_file)" />

    <!-- 5. Rectangle Detector Node-->
    <include file="$(find rectangle_detector)/launch/rectangle_detector_minimal.launch">
    </include>

    

</launch>